<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<br>
		<div class="row">
			<p class="lead">
				Welcome Back
			</p>
		</div>
	</div>
	<div class="well">
		<h2>UberFittness</h2>
		<p>
			Check out some of the following
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">Mean JS. Used to develop UberFitness</a>
				</li>
				<li><a target="_blank" href="https://github.com/ismailmare/UberFitness">Uber Fitness Github</a>
				</li>
				<li><a target="_blank" href="">Uber Fitness Community</a>
				</li>
				<li><a target="_blank" href="">UberFitness Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Kepp Calm and Stay Fit
	<br>The Uber Fitness 
</section>