<!DOCTYPE html>
<html>
<section data-ng-controller="HomeController">

  <table style="width:100%">
  <tr>
    <div style="float:left">
		<img src="./modules/core/client/img/brand/UberFitness.png" alt="" width="720" height="660">
  </div>  
  </tr>
    <div style="float:right">

    <div class="row-fluid">
    <div class="col-md-6 col-md-offset-5">
      <p>
      <button type="button" class="btn btn-primary btn-lg" id="login" >Sign in</button>
      <button type="button" class="btn btn-default btn-lg" id = "register">Register</button>
      </p>	
    </div>
    </div>
  </div>
  <tr>
  </tr>
</table>




  </div>
	<div class="well">
		<h2>Check out some of the following</h2>
		<p>
			
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">Mean JS. Used to develop UberFitness</a>
				</li>
				<li><a target="_blank" href="https://github.com/ismailmare/UberFitness">Uber Fitness Github</a>
				</li>
				<li><a target="_blank" href="">Uber Fitness Community</a>
				</li>
				<li><a target="_blank" href="">UberFitness Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Kepp Calm and Stay Fit
	<br>The Uber Fitness 
</section>
</html>